body{
    font-family: 'Lora', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-weight: 700;
    font-size: large;
    font-style: italic;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: black;
    font-weight: 600;
    border-radius: 5px;
}
.about-me img{
    width: 70%;
    padding-left: 5%;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;

}
.recipe-area{
    text-align: center;
}
.carts{
    display: flex;
}
.cart{
    width: 15%;
    margin-left: 100px;
    padding: 2% 2% 2% 2%;
    border: 10px;
    border-radius: 20px;
    
}
#pictures{
    height: 250px;
    width: 250px;
}


.footani {
    text-align: center;
    background-color: darkgray;
    margin-top: 18px;
    padding: 20px;
  }